# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\هاااااااااااااام يا كرم جدا للمشروع\face-recognition-karam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
